.sidenav-container {
  height: 100%;
}

.header{
  box-shadow: 0 1px 2px -5px rgba(0,0,0,.2), 0 2px 4px 2px rgba(0,0,0,.14), 0 3px 6px 5px rgba(0,0,0,.12);  
}
.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
mat-sidenav{
  box-shadow: 0 4px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
}
mat-sidenav-container, .outlet{
  min-height: calc(100vh - 104px);
}
.outlet{
  padding: 20px;
}


